---
title: Title from layout frontmatter
---
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/styles/styles.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chonburi&family=Limelight&family=Orelega+One&family=Poller+One&family=Yeseva+One&display=swap" rel="stylesheet">
    <!-- <script src='main.js'></script> -->
</head>
<body class="bg-ivory text-gunmetal">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="icon-logo-old" class="symbol-logo-old" viewBox="0 0 40 40">
            <path d="M39.945 21.5H32.8c-6.24 0-11.3 5.059-11.3 11.3v7.144c9.85-.73 17.715-8.594 18.445-18.444ZM18.5 39.944V32.8c0-6.241-5.059-11.3-11.3-11.3H.056C.786 31.35 8.65 39.214 18.5 39.944ZM39.945 18.5C39.215 8.65 31.35.786 21.5.055V7.2c0 6.24 5.06 11.3 11.3 11.3h7.145ZM18.5.055C8.65.785.786 8.65.056 18.5H7.2c6.241 0 11.3-5.06 11.3-11.3V.055Z"/>
            <path d="M13.583 20A14.362 14.362 0 0 0 20 13.582 14.362 14.362 0 0 0 26.418 20 14.361 14.361 0 0 0 20 26.417 14.361 14.361 0 0 0 13.583 20Z"/>
        </symbol>
        <symbol id="icon-logo-new" class="symbol-logo-old" viewBox="0 0 814 780">
            <path fill-rule="evenodd" d="M678.252 484C639.328 596.34 532.584 677 407 677s-232.328-80.66-271.252-193H262l27-119.5L341.5 611H473l52.5-246.5L552 484h126.252ZM694 390c0-158.506-128.494-287-287-287S120 231.494 120 390h64.5L243 195h106.5L407 425.5 464.5 195h106L630 390h64Zm91.597 94H813.5v-94H797C797 174.609 622.391 0 407 0S17 174.609 17 390H0v94h28.403C70.468 653.983 224.018 780 407 780c182.982 0 336.532-126.017 378.597-296Z"/>
        </symbol>
    </svg>
    <header class="py-5 border-b-8 border-b-madder text-madder">
        <div class="container mx-auto px-5">
            {# <h1 class="font-serif text-3xl mb-8 last:mb-0">
                <a href="/" class="inline-flex items-center">
                    <svg class="w-10 h-10 mr-2 fill-current">
                        <use xlink:href="#icon-logo-new"></use>
                    </svg>
                    <span>mjawn</span>
                </a>
            </h1> #}
            <h1 class="font-AbrilFatface text-3xl mb-8 last:mb-0">
                <a href="/" class="inline-flex items-center">
                    <svg class="w-10 h-10 mr-2 fill-current">
                        <use xlink:href="#icon-logo-new"></use>
                    </svg>
                    <span>mjawn</span>
                </a>
            </h1>
        </div>
    </header>
    {# <main>
        <div class="container mx-auto">
            {{ content | safe }}
        </div>
    </main> #}
</body>
</html>