---
layout: page.njk
---
<h2 class="text-4xl text-madder text-center font-AbrilFatface mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-black mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-Lora font-bold mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-SourceSerifPro font-bold mb-6">This is a Heading</h2>
{# <h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-normal mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-medium mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-semibold mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-bold mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-extrabold mb-6">This is a Heading</h2>
<h2 class="text-4xl text-madder text-center font-FrankRuhlLibre font-black mb-6">This is a Heading</h2> #}