---
layout: page.njk
---

<h2 class="mb-6 text-center font-AbrilFatface text-4xl text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-black text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-Lora text-4xl font-bold text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-SourceSerifPro text-4xl font-bold text-madder">This is a Heading</h2>
{#
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-normal text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-medium text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-semibold text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-bold text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-extrabold text-madder">This is a Heading</h2>
<h2 class="mb-6 text-center font-FrankRuhlLibre text-4xl font-black text-madder">This is a Heading</h2>
#}
